.button{
    display: flex;
    align-items: center;

    padding: 10px;

    border: 0px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;

    color: var(--color-white);
    background-color: transparent;

    label{
        margin-left: 8px;
        
        font-weight: 400;
    }

}

.button-border{
    border: 2px solid var(--color-blue-100)
}

.button-filled{
    width: 466px;
    height: 56px;

    margin: 40px auto 16px;

    label{
        margin: 0 auto;
        font-weight: 600 !important;
    }

    background-color: var(--color-blue-100);
}